<div class="container">
    <h2>Moje zgrade</h2>
    <form #vlasnikformUpdate="ngForm" (ngSubmit)="updateVlasnikPosebnogDela()">
        <small class="text-danger">{{msg}}</small>

        <div class="form-group">
            <label for="ime">Ime:</label>
            <input type="text" class="form-control" placeholder="Unesite ime" name="ime" required
                [(ngModel)]="vlasnik.ime">
        </div>

        <div class="form-group">
            <label for="prezime">Prezime:</label>
            <input type="text" class="form-control" placeholder="Unesite prezime" name="prezime" required
                [(ngModel)]="vlasnik.prezime">
        </div>

        <div class="form-group">
            <label for="stambenaZajednica">Stambena zajednica:</label>
            <select [(ngModel)]="selectedStambenaZajednica" (change)="selected()" class="form-control"
                name="stambenaZajednica">
                <option *ngFor="let sz of stambeneZajednice"  [ngValue]="sz"> {{sz.ulica}}
                    {{sz.broj}}, {{sz.mesto.naziv}} </option>
            </select>
        </div>

        <div class="form-group">
            <label for="broj">Broj posebnog dela:</label>
            <input type="text" class="form-control" placeholder="Unesite broj posebnog dela" name="broj" required
                [(ngModel)]="vlasnik.brojPosebnogDela">
        </div>

        <div class="form-group">
            <label for="velicina">Velicina posebnog dela:</label>
            <input type="number" class="form-control" placeholder="Unesite velicinu posebnog dela" name="velicina"
                [(ngModel)]="vlasnik.velicinaPosebnogDela">
        </div>

        <div class="form-group">
            <label for="mernaJedinica">Merna jedinica:</label>
            <select [(ngModel)]="selectedJedinicaMere" class="form-control" (change)="selectedMernaJedinica()"
                name="sz">
                <!-- <option [ngValue]="null">Select one...</option>-->
                <option *ngFor="let jm of jediniceMere | keyvalue" [value]="jm.value" [ngValue]="jm.value">{{jm.value}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="pib">Kontakt vlasnika:</label>
            <input type="text" class="form-control" placeholder="Unesite kontakt vlasnika" name="kontakt"
                [(ngModel)]="vlasnik.kontaktVlasnika">
        </div>


        <button type="submit" class="btn btn-info">Update</button>
    </form>
</div>