<!-- <form #menuform="ngForm" (ngSubmit)="openSaveStambenaZajednica()">
    <button type="submit" class="btn btn-info">Kreiraj SZ</button>
</form> -->

<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">

      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn">Vlasnik posebnog dela</button>
          <div class="dropdown-content">
            <a routerLink="vlasnikposebnogdela" class="nav-link" routerLinkActive="active">Kreiraj vlasnika posebnog dela</a>
            <a routerLink="vlasnici" class="nav-link" routerLinkActive="active">Lista svih vlasnika</a>
          </div>
        </div>
      </li>
    <li class="nav-item">
      <div class="dropdown">
        <button class="dropbtn">Sednica skupstine</button>
        <div class="dropdown-content">
          <a routerLink="sednicaskupstine" class="nav-link" routerLinkActive="active">Kreiraj novu sednicu skupstine</a>
          <a routerLink="sednice" class="nav-link" routerLinkActive="active">Lista svih sednica skupstine</a>
        </div>
      </div>
    </li>

      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn">Stambena zajednica</button>
          <div class="dropdown-content">
            <a routerLink="stambenazajednica" routerLinkActive="active">Kreiraj stambenu zajednicu</a>
            <a routerLink="stambene-zajednice" routerLinkActive="active">Lista svih stambenih zajednica</a>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div class="dropdown">
          <button class="dropbtn">Račun</button>
          <div class="dropdown-content">
            <a routerLink="racun" routerLinkActive="active">Kreiraj račun</a>
            <a routerLink="racuni" routerLinkActive="active">Lista svih računa</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>
  <div class="container">
    <br>
    <h2 style="text-align: center;">Moje zgrade</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
    <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
  <footer class="footer">
    <div class="container">
        <span>All Rights Reserved 2021. Napredne Java tehnologije. Autori: Sara Petrovic, Aleksandra Misic</span>
    </div>
  </footer>