h2{
    margin-left: 1.5em;
    margin-top: 0.5em;
}

#update-form {
    margin: 3em;
    width: 70%;
}

#vlasnici{
    margin-left: 0.5em;
    padding-left: 1em;
}


#lista-vlasnika{
    padding-left: 1em;
    padding-right: 1em;
    border: 1pt black solid;
}