<div class="container" style="margin-top: 0.5em;">
    <label for="select-search-criteria">Izaberite kriterijum po kom pretražujete:</label>
    <select class="form-select" name="select-search-criteria" (change)="selectSearchCriteria()"
        [(ngModel)]="searchCriteria">
        <option value="status">Status</option>
        <option value="vlasnik">Vlasnik</option>
    </select>
</div>
<div class="container" style="margin-top: 0.5em;">
    <div class="row">
        <div id="custom-search-input">
            <div class="input-group col-md-6" id="search-by-status" style="text-align: center" *ngIf="show[0]">
                <label for="status">Status:</label>
                <select [(ngModel)]="status" class="form-control" name="status">
                    <option value="NEPLACEN"> Neplaćen</option>
                    <option value="PLACEN"> Plaćen</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" (click)="findRacunByStatusFromRemote()">
                        <span class=" glyphicon glyphicon-search">Pronadji</span>
                    </button>
                </span>
            </div>
            <div class="input-group col-md-8" id="search-by-vlasnik" style="text-align: center" *ngIf="show[1]">
                <label for="vlasnik">Vlasnik:</label>
                <select [(ngModel)]="selectedVlasnik" class="form-control" name="vlasnik">
                    <option *ngFor="let v of vlasnici" [value]="v" [ngValue]="v" id="{{v.vlasnikId}}_{{v.prezime}}">
                        {{v.ime}} {{v.prezime}}</option>
                </select>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button" (click)="findRacunByVlasnikFromRemote()">
                        <span class=" glyphicon glyphicon-search">Pronadji</span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary" style="text-align: left">
    <div class="panel-heading" style="margin-left: 7.5em; margin-top: 2em;">
        <h2>Lista svih računa</h2>
    </div>
    <div class="container">
        <div class="container" style="margin-top: 2em; margin-bottom: 2em;">
            <div class="col-md-offset-2 custyle">
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>Ukupna vrednost</th>
                            <th>Datum izdavanja</th>
                            <th>Status</th>
                            <th>Vlasnik</th>
                            <th>Akcije</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let racun of racuni | async">
                            <td>{{racun.ukupnaVrednost}}</td>
                            <td>{{racun.datumIzdavanja}}</td>
                            <td>{{racun.status}}</td>
                            <td>{{racun.vlasnikPosebnogDela.ime}} {{racun.vlasnikPosebnogDela.prezime}}</td>
                            <td>
                                <button (click)="racunDetails(racun.racunId)" class="btn btn-info col-md-6"
                                    style="margin-left: 0.5em; text-justify: center;">Details</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>