<div class="container">
  <div class="row">
             <div id="custom-search-input">
                              <div class="input-group col-md-8" style="text-align: center">
                                  <input type="text" class="search-query form-control" placeholder="Pronadji vlasnika po prezimenu"  name="prezime" [(ngModel)]="prezime"/>
                                  <span class="input-group-btn">
                                      <button class="btn btn-danger" type="button" (click)="findVlasnikByPrezime()">
                                          <span class=" glyphicon glyphicon-search">Pronadji</span>
                                      </button>
                                  </span>
                              </div>
                          </div>
  </div>
  </div>
<div class="panel panel-primary" style="text-align: center">
  <div class="panel-heading" >
    <h2>Lista vlasnika</h2>
  </div>
  <div class="container" >
    <div class="container">
      <div class="row col-md-8 col-md-offset-2 custyle">
        <table class="table table-striped custab" >
          <thead>
            <tr>
              <th>Ime</th>
              <th>Prezime</th>
              <th>Broj stana</th>
              <th>Stambena zajednica</th>
              <th>Akcije</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vlasnik of vlasnici | async">
              <td>{{vlasnik.ime}}</td>
              <td>{{vlasnik.prezime}}</td>
              <td>{{vlasnik.brojPosebnogDela}}</td>
              <td>{{vlasnik.stambenaZajednica.ulica}}
                {{vlasnik.stambenaZajednica.broj}},{{vlasnik.stambenaZajednica.mesto.naziv}}</td>
              <td><button (click)="deleteVlasnik(vlasnik.vlasnikId)" class="btn btn-danger">Delete</button>
                <button (click)="vlasnikDetails(vlasnik.vlasnikId)" class="btn btn-info"
                  style="margin-left: 10px">Details</button>
                <button (click)="vlasnikUpdate(vlasnik.vlasnikId)" class="btn btn-info"
                  style="margin-left: 10px">Update</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>