.btn-delete-stavka{
    background-color: red;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    color: white;
    font-weight: 1000;
    border:none;
    padding: 0;
}

.btn-delete-stavka:hover{
    background-color: rgb(207, 4, 4);
    transform: rotate(90deg);
}

label{
    font-size: 15pt;
}
  
input{
    font-size: 15pt;
}
  
button{
    font-size: 15pt;
}

table{
    font-size: 15pt;
}
