<div class="container">
    <h2 style="margin-top: 0.5em;">Moje zgrade</h2>

    <div *ngIf="racun">
        <div class="form-group">
            <label for="ulica">Vlasnik: </label>
            <div name="day" readonly type="text" class="form-control col-md-2" style="margin-right: 1em;">
                {{racun.vlasnikPosebnogDela.ime}} {{racun.vlasnikPosebnogDela.prezime}}</div>
        </div>
        <div class="form-group">
            <label for="datum">Datum izdavanja:</label>
            <div name="datum" class="input-group">
                <input name="datumIzdavanja" readonly type="text" class="form-control col-md-2"
                    style="margin-right: 1em;" [(ngModel)]="racun.datumIzdavanja">
            </div>
        </div>
        <div class="form-group">
            <label for="ukupnaVrednost">Ukupna vrednost:</label>
            <input name="ukupnaVrednost" readonly type="text" readonly class="form-control col-md-2"
                style="margin-right: 1em;" [(ngModel)]="racun.ukupnaVrednost">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <input name="status" readonly type="text" readonly class="form-control col-md-2" style="margin-right: 1em;"
                [(ngModel)]="racun.status">
            <button class="btn btn-info" *ngIf="racun.status == 'NEPLACEN'" (click)="updateRacun()">Račun je
                plaćen</button>
        </div>

        <div>
            <table class="table table-bordered" style="margin-top: 1em;">
                <thead>
                    <th class="col-md-2" scope="col">Redni broj</th>
                    <th class="col-md-8" scope="col">Usluga</th>
                    <th class="col-md-2" scope="col">Cena</th>
                    <th class="col-md-2" scope="col">Količina</th>
                </thead>
                <tbody>
                    <tr *ngFor="let stavka of racun.stavke">
                        <td class="col-md-2" scope="row" name="fieldName" ngDefaultControl
                            [(ngModel)]="stavka.redniBroj">
                            {{stavka.redniBroj}}</td>
                        <td class="col-md-8" scope="row" name="fieldName" ngDefaultControl
                            [(ngModel)]="stavka.usluga.naziv">{{stavka.usluga.naziv}}</td>
                        <td class="col-md-2" name="fieldName" ngDefaultControl [(ngModel)]="stavka.usluga.cena">
                            {{stavka.usluga.cena}}</td>
                        <td class="col-md-2" name="fieldName" ngDefaultControl [(ngModel)]="stavka.kolicina">
                            {{stavka.kolicina}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button (click)="list()" class="btn btn-primary col-md-3" style="margin-top: 1.5em; margin-left: 0.5em; ">Nazad na
        listu svih računa</button>
</div>