<h2>Detaljni podaci o vlasniku</h2> 

<hr/>
<div *ngIf="vlasnik">
    <div>
        <label><b>Vlasnik ID: </b></label> {{vlasnik.vlasnikId}}
      </div>
  <div>
    <label><b>Ime: </b></label> {{vlasnik.ime}}
  </div>
  <div>
    <label><b>Prezime: </b></label> {{vlasnik.prezime}}
  </div>
  <div>
    <label><b>Broj stana: </b></label> {{vlasnik.brojPosebnogDela}}
  </div>  
  <div>
    <label><b>Velicina stana: </b></label> {{vlasnik.velicinaPosebnogDela}}
  </div>  
  <div>
    <label><b>Merna jedinica: </b></label> {{vlasnik.mernaJedinica}}
  </div>  
  <div>
    <label><b>Kontakt vlasnika: </b></label> {{vlasnik.kontaktVlasnika}}
  </div>  
  <div>
    <label><b>Stambena zajednica: </b></label> {{vlasnik.stambenaZajednica.ulica}} {{vlasnik.stambenaZajednica.broj}}, {{vlasnik.stambenaZajednica.mesto.naziv}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Nazad na sve vlasnike</button><br>
