<div class="container">
    <h2 style="margin-top: 0.5em;">Moje zgrade</h2>

    <form #racunform="ngForm" (ngSubmit)="saveRacun()">
        <small class="text-danger">{{msg}}</small>

        <div class="form-group">
            <label for="ulica">Vlasnik: </label>
            <select [(ngModel)]="selectedVlasnik" (change)="selected()" class="form-control" name="vlasnik">
                <option *ngFor="let v of vlasnici" [value]="v" [ngValue]="v" id="{{v.vlasnikId}}_{{v.prezime}}">
                    {{v.ime}} {{v.prezime}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="date">Datum izdavanja:</label>
            <input type="date" class="form-control" placeholder="Unesite datum izdavanja" name="datumIzdavanja"
                [(ngModel)]="racun.datumIzdavanja ">

        </div>
        <button type="submit" class="btn btn-info col-md-3">Save</button>
    </form>

    <div class="input-group" style="margin-top: 1.5em;">
        <label for="status" style="margin-right: 0.5em;">Usluga:</label>
        <select class="form-control col-md-4" name="selectedUsluga" [(ngModel)]="selectedUsluga">
            <option *ngFor="let usluga of sveUsluge" [value]="usluga" [ngValue]="usluga" id="usluga{{usluga.uslugaId}}">
                {{usluga.naziv}}</option>
        </select>
        <label for="kolicina" style="margin-left: 2em; margin-right: 0.5em;">Količina: </label>
        <input name="kolicina" type="text" class="form-control col-md-2" style="margin-right: 2em;"
            [(ngModel)]="kolicina">
        <button (click)="addStavka()" class="btn btn-primary col-md-2" style="margin-top: 0.5em;">Add</button>
    </div>

    <div>
        <table class="table table-bordered" style="margin-top: 1em;">
            <thead>
                <th class="col-md-2" scope="col">Redni broj</th>
                <th class="col-md-8" scope="col">Usluga</th>
                <th class="col-md-2" scope="col">Cena</th>
                <th class="col-md-2" scope="col">Količina</th>
            </thead>
            <tbody>
                <tr *ngFor="let stavka of stavke">
                    <td class="col-md-2" scope="row" name="fieldName" ngDefaultControl [(ngModel)]="stavka.redniBroj">
                        {{stavka.redniBroj}}</td>
                    <td class="col-md-8" scope="row" name="fieldName" ngDefaultControl
                        [(ngModel)]="stavka.usluga.naziv">{{stavka.usluga.naziv}}</td>
                    <td class="col-md-2" name="fieldName" ngDefaultControl [(ngModel)]="stavka.usluga.cena">
                        {{stavka.usluga.cena}}</td>
                    <td class="col-md-2" name="fieldName" ngDefaultControl [(ngModel)]="stavka.kolicina">
                        {{stavka.kolicina}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>